.heading1 {

	background-color: #00ffc8;
	height: 2em;
	width: 2em;
	padding: 10em;

}
.heading2 {

	background-color: #ff5757;
	height: 2em;
	width: 2em;
	padding: 2em;
	float: right;
	position: relative;



}

.body1 {

	background-color: #fff780;
height: 2em;
	width: 2em;
	padding: 2em;
	float: right;
	position: relative;

}

.body2 {

	background-color: #fff780;
		height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;

}

.body3 {

	background-color: #ccff4d;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

.body4 {

	background-color: #59ff17;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

.body5 {

	background-color: #1cc979;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

.body6 {

	background-color: #12acff;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

.body7 {

	background-color: #9666ff;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

.body8 {

	background-color: #ff87fb;
		padding: 1em;
height: 2em;
	width: 2em;
	float: right;
	position: relative;
		padding: 1em;
}

