#body {
	 background: url("source.gif") no-repeat center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


.heading {

	background-color: pink;
	margin: 2em;
	padding: 1em;
	margin:left;
	height: 10em;
	width: 10em;
	color:white;
	float: left;
	display: block;
	text-align: center;
	font-family: 'Sacramento', cursive;
	object-position: absolute;



}
.heading1 {

	background-color: #17cfa4;
	margin: 2em;
	padding: 1em;
	margin:right;
	height: 30em;
	width: 20em;
	float: left;
font-family: 'EB Garamond', serif;
	display: block;
	position: relative;
	text-align: left;
	color: white;
	top: 17em;
	right: 15%;





}

.heading5 {

	background-color: teal;
	margin: 2em;
	padding: 1em;
	height: 40em;
	width: 30em;
	color:white;
	float: left;
font-family: 'EB Garamond', serif;
	display: block;
	text-align: left;
	position: relative;
	top: 50em;
	right: 1%;


}
.body1 {

	background-color: lightblue;
	margin: 2em;
	padding: 1em;
	height: 2em;
	width: 5em;
	color:white;
	float: right;
	font-family: 'Sacramento', cursive;
	display: block;
	text-align: center;
	position: relative;
	top: 25em;
	position: fixed;
	right: 60%;


}


#title {
		font-family: 'Sacramento', cursive;

}