.heading {

	background-color: #00ffc8;

}
.heading1 {

	background-color: #19d4ac;

}

.heading2 {

	background-color: #20ba99;

}

.heading3 {

	background-color: #23a88c;

}

.heading4 {

	background-color: #288f79;

}

.heading5 {

	background-color: #297565;

}

.body3 {

	background-color: #ff2614;

}

.body4 {

	background-color: #ff1803;

}