.heading {

	background-color: #ff7a70;

}
.heading2 {

	background-color: #ff675c;

}

.list {

	background-color: #ff6054;

}

.directions {

	background-color: #ff4b3d;

}

.body1 {

	background-color: #ff3f30;

}

.body2 {

	background-color: #ff3424;

}

.body3 {

	background-color: #ff2614;

}

.body4 {

	background-color: #ff1803;

}