.heading {

	background-color: #00ffc8;
font-family: 'Monoton', cursive;

}
.heading1 {

	background-color: #19d4ac;
font-family: 'Tangerine', cursive;

}

.heading2 {

	background-color: #20ba99;
font-family: 'Galada', cursive;

}

.heading3 {

	background-color: #23a88c;
font-family: 'Pacifico', cursive;

}

.heading4 {

	background-color: #288f79;
font-family: 'Caveat', cursive;

}

.heading5 {

	background-color: #297565;
font-family: 'Gloria Hallelujah', cursive;

}

.body3 {

	background-color: #ff2614;
font-family: 'Yellowtail', cursive;

}

.body4 {

	background-color: #ff1803;
font-family: 'Grand Hotel', cursive;

}