.heading1 {

	background-color: #00ffc8;
	padding: 10em;

}
.heading2 {

	background-color: #19d4ac;
	padding: 2em;



}

.body1 {

	background-color: #20ba99;
		padding: 1em;


}

.body2 {

	background-color: #23a88c;
		padding: 1em;

}

.body3 {

	background-color: #288f79;
		padding: 1em;

}

.body4 {

	background-color: #297565;
		padding: 1em;

}

.body5 {

	background-color: #225248;
		padding: 1em;

}

.body6 {

	background-color: #193630;
		padding: 1em;

}

.body7 {

	background-color: #193630;
		padding: 1em;

}

.body8 {

	background-color: #000000;
		padding: 1em;

}

.body9 {

	background-color: #571c1c;
		padding: 1em;

}

.body10 {

	background-color: #732020;
		padding: 1em;

}

.body11 {

	background-color: #8a2222;
		padding: 1em;

}

.body12 {

	background-color: #bf1d1d;
		padding: 1em;

}

.body13 {

	background-color: #f01a1a;
		padding: 1em;

}

.body22 {

	background-color: #ff1717;
		padding: 2em;

}

.body23 {

	background-color: #ff3b3b;
		padding: 2em;

}

.body24 {

	background-color: #ff7070;
		padding: 2em;

}

.body25 {

	background-color: #ff9494;
		padding: 2em;

}