.book {
	position: absolute;
	height: 30vh;
	width: 60vh;
	background-color: #b5ada7;
	display: grid;	
	align-items: center;
	justify-content: center;
	margin: 100px;
	min-height: 40vh;
	max-height: 40vh;
	min-width: 20vh;
	max-width: 60vh;
	border-radius: 4px;
	z-index: -4;
	top: .1%;

}

.pages {
	position: absolute;
	height: 35vh;
	width: 55vh;
	background-color: #f5eedc;
	box-shadow: 2em 2em 9em black;
	z-index: 3;
	top: 7em;
	left: 7em;
	z-index: 4;

}

.pages2 {
	position: absolute;
	height: 35vh;
	width: 55vh;
	background-color: #d9d5d2;
	z-index: 3;
	top: 7.5em;
	left: 7.5em;
	z-index: 3;
}

.mouseDownBox {
	position: absolute;
	height: 35px;
	width: 35px;
	z-index: 4;
	top: 7em;
	left: 7em;
}

.mouseDownBox > img {
	height: 35vh;
	width: 55vh;
}

#news {
	color: red;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	z-index: 10;
	top: 10%;
}