.book {
	position: relative;
	height: 30vh;
	width: 60vh;
	background-color: #852e05;
	display: flex;	
	align-items: center;
	justify-content: center;
	margin: 100px;
	min-height: 40vh;
	max-height: 40vh;
	min-width: 20vh;
	max-width: 60vh;
	border-radius: 30px;

}

.pages {
	position: absolute;
	display: flex;
	height: 35vh;
	width: 55vh;
	background-color: #f5eedc;
	box-shadow: 2em 2em 5em black;
	z-index: 3;
	top: 10em;
	left: 10em;

}

