
.wrapper {
	 margin-left:auto;
    margin-right:auto;
}





.tv {
	position: relative;
	top: -56em;
	left: 20em;
}


.bed {
	position: relative;
	top: -41em;
	left: 70em;
	height: 4em;
	width: 2em;
	opacity: 0.1;

}